.flex-container-13a{
  display: flex;
  background-color: grey;
  width: min-content;
}
.item1-13a{
  width: 100px;
  background-color: pink;
  display: flex;
}
.item2-13a{
  width: 200px;
  background-color: blue;
}
.item1{
  margin: 0;
  background-color: black;
  color: white;
  margin: 15px auto;
  
}
